@import "tailwindcss";

html {
  font-size: 72.5%;
}

body {
  font-family: "Sora", sans-serif;
}

button {
  cursor: pointer;
}

button:disabled {
  color: light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
  cursor: not-allowed;
}
